.a-glow {
    position: absolute;
    /* top: 50%; */
    /* left: 50%; */
    transform: translate(-50%,-50%);
    width: 160px;
    height: 30px;
    text-align: center;
    /* line-height: 60px; */
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    background: linear-gradient(90deg, #03a9f4, #f441a4, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 20px;
    z-index: 1; 
   }
   .a-glow:hover {
    color: white;
    animation: animate 8s linear infinite;
   }
   @keyframes animate {
    0% {
     background-position: 0%;
    }
    100% {
     background-position: 400%;
    }
   }
   .a-glow:before {
    content: '';
    position: absolute;
    top: -5px;
    bottom: -5px;
    right: -5px;
    left: -5px;
    z-index: -1;
    background: linear-gradient(90deg, #03a9f4, #f441a4, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 40px;
    filter: blur(20px);
    opacity: 0;
    transition: 0.5s;
   }
   .a-glow:hover:before {
    filter: blur(20px);
    opacity: 1;
    animation: animate 8s linear infinite;
   }